<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil - MédiDomServices</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="apointment.css">
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
    rel="stylesheet">
</head>

<body id="top" class="dark_theme">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1 class="h1 logo">
        <a href="#">MédiDomServices<span>.</span></a>
      </h1>

      <div class="navbar-actions">

        <select name="language" id="lang">
          <option value="en">En</option>
          <option value="ar">Ar</option>
        </select>

        <button class="theme-btn" aria-label="Change Theme" title="Change Theme" data-theme-btn>
          <span class="icon"></span>
        </button>

        <nav class="navbar">
          <span class="hamburger-btn material-symbols-rounded"></span>
          <ul class="links">
            <span class="close-btn material-symbols-rounded"></span>
      
          </ul>
          <button class="login-btn">LOG IN</button>
        </nav>

      </div>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn>
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </button>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link">Home.</a>
          </li>

          <li>
            <a href="#about" class="navbar-link">About.</a>
          </li>

          <li>
            <a href="#skills" class="navbar-link">Services.</a>
          </li>

          <li>
            <a href="#portfolio" class="navbar-link">Feedbacks.</a>
          </li>

          <li>
            <a href="#contact" class="navbar-link">Contact.</a>
          </li>

        </ul>
      </nav>

    </div>
  </header>


  

  <main>
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
      <div class="form-box login">

      <div class="form-content">
      <h2>LOGIN</h2>
      <form action="#" th:action="@{/authenticateTheUser}" method="post">
        <div class="input-field">
          <input type="text" placeholder="Email" name="username" required >
          <!--<label>Email</label>-->
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" name="password" required>
          <!--<label>Password</label>-->
        </div>
        <a href="#" class="forgot-pass-link">Forgot password?</a>
        <button type="submit">Log In</button>
      </form>
      <div class="bottom-link">
        Don't have an account?
        <a href="#" id="signup-link">Signup</a>
      </div>
    </div>
  </div>
  <div class="form-box signup">

    <div class="form-content">
      <h2>SIGNUP</h2>
      <form action="#">
        <div class="input-field">
          <input type="text" placeholder="Email" required>
          <!--<label>Enter your email</label>-->
        </div>
        <div class="input-field">
          <input type="password" placeholder="Password" required>
          <!--<label>Create password</label>-->
        </div>
        <div class="policy-text">
          <input type="checkbox" id="policy">
          <label for="policy" class="txt">I agree the</label> 
          <a href="#" class="option">Terms & Conditions</a>         
        </div>
        <button type="submit">Sign Up</button>
      </form>
      <div class="bottom-link">
        Already have an account?
        <a href="#" id="login-link">Login</a>
      </div>
    </div>
  </div>
</div>

    <article class="container">

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">


        </figure>
        <!-- Apointment booking-->    
        <div class="hero-content">

          <h2 class="h2 hero-title">Medical and Paramedical Care at Home</h2>

          

        </div> 
                <button type="button" class="nav-link btn btn-dark" data-bs-toggle="modal" data-bs-target="">
                  Book / View an Appointment
                </button>
        
      </nav>
    <div id="task" class="pb-5"></div>


        <ul class="hero-social-list">

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-facebook"></ion-icon>

              <div class="tooltip">Facebook</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-twitter"></ion-icon>

              <div class="tooltip">Twitter</div>
            </a>
          </li>

          <li>
            <a href="#" class="hero-social-link">
              <ion-icon name="logo-linkedin"></ion-icon>

              <div class="tooltip">Linkedin</div>
            </a>
          </li>

        </ul>

        <a href="#stats" class="scroll-down">Scroll</a>

      </section>





      <!-- 
        - #STATS
      -->

      <section class="stats" id="stats">
        <ul class="stats-list">

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="/images/stats-card_icon-1.png" alt="Badge icon">
              </div>

              <h2 class="h2 card-title">
                12+ <strong>Years of Experience</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="/images/stats-card_icon-2.png" alt="Checkmark icon">
              </div>

              <h2 class="h2 card-title">
                230+ <strong>Medical Services</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

          <li>
            <a href="#" class="stats-card">

              <div class="card-icon">
                <img src="/images/stats-card_icon-3.png" alt="Peoples rating icon">
              </div>

              <h2 class="h2 card-title">
                95+ <strong>Happy Clients</strong>
              </h2>

              <ion-icon name="chevron-forward-outline"></ion-icon>

            </a>
          </li>

        </ul>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">

        <figure class="about-banner">
          <img src="/images/about-banner.png" alt=""
            class="w-100">
        </figure>

        <div class="about-content section-content">

          <p class="section-subtitle"></p>

          <h2 class="h3 section-title">Need a medical consultation !</h2>

          <p class="section-text">
            Welcome to the MédiDomServices website, your trusted partner in home medical and paramedical care.
             Our team of healthcare professionals is here to provide you with the services you need,
             from the comfort of your own home.
          </p>

          <div class="btn-group">
            <button class="btn btn-secondary">book an appointment</button>

            <button class="btn btn-primary">Feedbacks</button>
          </div>

        </div>

      </section>





      <!-- 
        - #SERVICES
      -->

      <section class="skills" id="skills">

        <div class="skills-content section-content">

          <p class="section-subtitle"></p>

          <h2 class="h3 section-title">What services do we provide?</h2>

          <p class="section-text">
            your specialist in medical and paramedical care at home.
             We offer a wide range of services to meet all your health needs, including:
          </p>

          <div class="skills-toggle" data-toggle-box>
            <button class="toggle-btn active" data-toggle-btn>Medic</button>

            <button class="toggle-btn" data-toggle-btn>Paramedic</button>
          </div>

        </div>

        <div class="skills-box" data-skills-box>

          <ul class="skills-list">

            <li>
              <div class="skill-card">
                <div class="tooltip">Home nursing care</div>

                <div class="card-icon">
                  <img src="/images/html5.png" alt="HTML5 logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Rehabilitation care</div>

                <div class="card-icon">
                  <img src="/images/css3.png" alt="CSS3 logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Palliative care</div>

                <div class="card-icon">
                  <img src="/images/javascript.png" alt="JavaScript logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Postoperative care</div>

                <div class="card-icon">
                  <img src="/images/typescript.png" alt="TypeScript logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Pain management</div>

                <div class="card-icon">
                  <img src="/images/jquery.png" alt="jQuery logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Wound care</div>

                <div class="card-icon">
                  <img src="/images/bootstrap.png" alt="Bootstrap logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Medication Administration</div>

                <div class="card-icon">
                  <img src="/images/angular.png" alt="Angular logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Dialysis care</div>

                <div class="card-icon">
                  <img src="/images/react.png" alt="React logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Ostomy care</div>

                <div class="card-icon">
                  <img src="/images/vue.png" alt="Vue logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Parenteral nutrition care</div>

                <div class="card-icon">
                  <img src="/images/firebase.png" alt="Firebase logo">
                </div>
              </div>
            </li>


          </ul>
                    

          <ul class="tools-list">

            <li>
              <div class="skill-card">
                <div class="tooltip">Assistance to the elderly</div>

                <div class="card-icon">
                  <img src="/images/ajax.png" alt="Ajax logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Assistance for people with disabilities</div>

                <div class="card-icon">
                  <img src="/images/gulp.png" alt="Gulp logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Assistance for patients with chronic diseases</div>

                <div class="card-icon">
                  <img src="/images/webpack.png" alt="Webpack logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Respiratory therapy</div>

                <div class="card-icon">
                  <img src="/images/git.png" alt="Git logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Physiotherapy</div>

                <div class="card-icon">
                  <img src="/images/npm.png" alt="Npm logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Occupational therapy</div>

                <div class="card-icon">
                  <img src="/images/command.png" alt="Command Line logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Speech therapy</div>

                <div class="card-icon">
                  <img src="/images/vs-code.png" alt="VS Code logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Podiatry care</div>

                <div class="card-icon">
                  <img src="/images/trello.png" alt="Trello logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Massage therapy treatments</div>

                <div class="card-icon">
                  <img src="/images/clickup.png" alt="ClickUp logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Psychology care</div>

                <div class="card-icon">
                  <img src="/images/slack.png" alt="Slack logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Dietetic care</div>

                <div class="card-icon">
                  <img src="/images/photoshop.png" alt="Photoshop logo">
                </div>
              </div>
            </li>

            <li>
              <div class="skill-card">
                <div class="tooltip">Ergonomic care</div>

                <div class="card-icon">
                  <img src="/images/adobe-xd.png" alt="Adobe XD logo">
                </div>
              </div>
            </li>

          </ul>

        </div>

      </section>





      <!-- 
        - #PROJECTS
      -->

      <section class="project" id="portfolio">

        <ul class="project-list">

          <li>
            <div class="project-content section-content">

              <p class="section-subtitle"></p>

              <h2 class="h3 section-title">Our customer reviews!</h2>

              <p class="section-text">
                We develop the best quality website that serves for the long-term. Well-documented, clean, easy and
                elegant interface
                helps any non-technical clients.
              </p>

            </div>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-1.jpg" class="w-100" alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Great service!</h3>

                <time class="publish-date" datetime="2022-04">I highly recommend their services.<br>
                   The staff is friendly and professional.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-2.jpg" class="w-100" alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Excellent care</h3>

                <time class="publish-date" datetime="2022-04">Their team provided exceptional care <br>
                  and went above and beyond to meet my needs.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-3.jpg" class="w-100"
                  alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Impressed with the quality</h3>

                <time class="publish-date" datetime="2022-04">I was impressed with the quality of service I received.<br>
                   They exceeded my expectations.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-4.jpg" class="w-100"
                  alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Outstanding service!</h3>

                <time class="publish-date" datetime="2022-04">Their service is top-notch.<br>
                  I am extremely satisfied with their attention to detail.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-5.jpg" class="w-100"
                  alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Professional and efficient</h3>

                <time class="publish-date" datetime="2022-04">They were professional and efficient in services.<br>
                   Highly recommended.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-6.jpg" class="w-100"
                  alt="">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Exceeded my expectations</h3>

                <time class="publish-date" datetime="2022-04">Their services exceeded my expectations.<br>
                   I am impressed with their level of expertise.</time>
              </div>

            </a>
          </li>

          <li>
            <a href="#" class="project-card">

              <figure class="card-banner">
                <img src="/images/project-7.jpg" class="w-100"
                  alt="A fujifilm instant camera on a dark electric blue background.">
              </figure>

              <div class="card-content">
                <h3 class="h4 card-title">Great value for money</h3>

                <time class="publish-date" datetime="2022-04">Their services offer great value for money.<br>
                   I am a happy and satisfied customer.</time>
              </div>

            </a>
          </li>

          <li>
            <button class="load-more">see more comments</button>
          </li>

        </ul>

      </section>





      <!-- 
        - #CONTACT
      -->

      <section class="contact" id="contact">

        <div class="contact-content section-content">

          <p class="section-subtitle">Contact</p>

          <h2 class="h3 section-title">Have You Any Advice? Please Drop a Message</h2>

          <p class="section-text">
            Get in touch and let us know how we can help. Fill out the form and we’ll be in touch as soon as possible.
          </p>

          <ul class="contact-list">

            <li class="contact-list-item">

              <div class="contact-item-icon">
                <ion-icon name="location-outline"></ion-icon>
              </div>

              <div class="wrapper">
                <h3 class="h4 contact-item-title">Address:</h3>

                <address class="contact-info">
                  941 Saqrqorish Road, alandalos, grnata, wa 47122-4194
                </address>
              </div>

            </li>

            <li class="contact-list-item">

              <div class="contact-item-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <div class="wrapper">
                <h3 class="h4 contact-item-title">Phone:</h3>

                <a href="tel:01234567789" class="contact-info">(01) 234 567 789</a>

                <a href="tel:09765432200" class="contact-info">(09) 765 432 200</a>
              </div>

            </li>

            <li class="contact-list-item">

              <div class="contact-item-icon">
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <div class="wrapper">
                <h3 class="h4 contact-item-title">Email:</h3>

                <a href="mailto:info@jack.com" class="contact-info">info@jack.com</a>

                <a href="mailto:support@jack.com" class="contact-info">support@jack.com</a>
              </div>

            </li>

            <li>
              <ul class="contac-social-list">

                <li>
                  <a href="#" class="contact-social-link">
                    <div class="tooltip">Facebook</div>

                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#" class="contact-social-link">
                    <div class="tooltip">Twitter</div>

                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#" class="contact-social-link">
                    <div class="tooltip">Linkedin</div>

                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#" class="contact-social-link">
                    <div class="tooltip">Youtube</div>

                    <ion-icon name="logo-youtube"></ion-icon>
                  </a>
                </li>

              </ul>
            </li>

          </ul>

        </div>

        <form action="" class="contact-form">

          <div class="form-wrapper">

            <label for="name" class="form-label">Name</label>

            <div class="input-wrapper">

              <input type="text" name="name" id="name" required placeholder="e.g John Doe" class="input-field">

              <ion-icon name="person-circle"></ion-icon>

            </div>

          </div>

          <div class="form-wrapper">

            <label for="email" class="form-label">Email</label>

            <div class="input-wrapper">

              <input type="email" name="email" id="email" required placeholder="e.g johndoe@mail.com"
                class="input-field">

              <ion-icon name="mail"></ion-icon>

            </div>

          </div>

          <div class="form-wrapper">

            <label for="phone" class="form-label">Phone</label>

            <div class="input-wrapper">

              <input type="tel" name="phone" id="phone" required placeholder="Phone Number" class="input-field">

              <ion-icon name="call"></ion-icon>

            </div>

          </div>

          <div class="form-wrapper">

            <label for="message" class="form-label">Message</label>

            <div class="input-wrapper">

              <textarea name="message" id="message" required placeholder="Write message..."
                class="input-field"></textarea>

              <ion-icon name="chatbubbles"></ion-icon>

            </div>

          </div>

          <button type="submit" class="btn btn-primary">Send</button>

        </form>

      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <p class="h1 logo">
        <a href="#">
          MédiDomServices<span>.</span>
        </a>
      </p>

      <p class="copyright">
        &copy; 2024 <a href="#">MédiDomServices</a>. All rights reserved
      </p>

    </div>
  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top title="Go to Top">
    <ion-icon name="arrow-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="script.js"></script>
  <!-- login js -->
<script  src="./login.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
