<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body onload="loadRequests()">
    <nav class="shadow-lg text-dark">
        <div class="container-fluid text-center pt-3">
            <h2 class="display-4 fw-bold mt-2 mb-4">MédiDomServices</h2>
        </div>
        <button class="btn btn-dark fw-bold border-0 position-absolute start-50 translate-middle-x px-5 py-2" data-bs-toggle="modal" data-bs-target="#requestModal">
            BOOKMARK
        </button>
        <a href="http://localhost:8080/logout" class="btn bg-transparant position-absolute top-0 end-0 mt-2 border-0">
            <img src="appImages/th.png" style="width: 50px;" alt="logout">
        </a> 
    </nav>

    <div id="requests"></div>

    <div class="modal fade position-fixed mt-5 pt-5" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0" style="background: linear-gradient(to right, #73c8a9, #373b44);">
            <!-- Modal Header -->
            <div class="modal-header border-dark">
              <h5 class="modal-title" id="requestModalLabel">Request Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <form id="details-form">
                <!-- Request Date -->
                <div class="form-group">
                    <label for="sDate" class="form-label fw-bold">Consultation Date:</label>
                    <input type="date" class="form-control" id="RDate" name="sDate">
                </div>
                <br>
                <!-- Service -->
                <label for="sService" class="form-label fw-bold">Service:</label>
                <select class="form-select" id="aService" name="sService">
                  <option value="0">Nursing</option>
                  <option value="1">Allergy</option>
                  <option value="2">Dermatology</option>
                  <option value="3">Ophthalmology</option>
                  <option value="4">Pediatrics</option>
                  <option value="5">Psychiatry</option>
                  <option value="6">Physical medicine and rehabilitation</option>
                  <option value="7">Other</option>
                </select>
                <hr>
                <!-- Buttons -->
                <div class="btn-group btn-form w-100">
                    <button type="button" class="btn btn-white border-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-dark" onclick="addRequest()" data-bs-dismiss="modal" aria-label="Close">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- show details -->
    <div class="modal fade position-fixed mt-5" id="showDetails" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0" style="background: linear-gradient(to right, #73c8a9, #373b44);">
            <!-- Modal Header -->
            <div class="modal-header border-dark">
              <h5 class="modal-title" id="requestModalLabel">Request Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <form id="details-form">
                <!-- Request Date -->
                <div class="form-group">
                    <label for="sDate" class="form-label fw-bold">Consultation Date:</label>
                    <input type="date" class="form-control" id="sDate" name="sDate" disabled>
                </div>
                <br>
                
                <!-- Service -->
                <label for="sService" class="form-label fw-bold">Service:</label>
                <input type="text" class="form-control" id="sService" name="sService" disabled>
                <br>
                
                <!-- Doctor -->
                <label for="sDoctor" class="form-label fw-bold">Assigned doctor:</label>
                <input type="text" class="form-control" id="sDoctor" name="sDoctor" disabled>
                <hr>

                <!-- Buttons -->
                <div class="btn-form">
                  <button type="button" class="btn btn-dark w-100" data-bs-dismiss="modal" aria-label="Close">OK</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>

      <!-- confirm consultation -->
    <div class="modal fade position-fixed mt-5" id="confirmRequest" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content border-0" style="background: linear-gradient(to right, #73c8a9, #373b44);">
            <!-- Modal Header -->
            <div class="modal-header border-dark">
              <h5 class="modal-title" id="requestModalLabel">Request Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <!-- Modal Body -->
            <div class="modal-body">
              <form id="details-form">
                <!-- Request Date -->
                <div class="form-group">
                    <label for="sDate" class="form-label fw-bold">Consultation Date:</label>
                    <input type="date" class="form-control" id="cDate" name="cDate" disabled>
                </div>
                <br>
                
                <!-- Service -->
                <label for="sService" class="form-label fw-bold">Service:</label>
                <input type="text" class="form-control" id="cService" name="cService" disabled>
                <br>
                
                <!-- Doctor -->
                <label for="sDoctor" class="form-label fw-bold">Assigned doctor:</label>
                <input type="text" class="form-control" id="cDoctor" name="cDoctor" disabled>
                <hr>
                
                <!-- Buttons -->
                <div class="btn-group btn-form w-100">
                    <button type="button" class="btn btn-danger" onclick="deleteRequest()" data-bs-dismiss="modal" aria-label="Close">Cancel Request</button>
                    <button type="button" class="btn btn-dark" onclick="loadRequests()" data-bs-dismiss="modal" aria-label="Close">Confirm and pay</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>

      <!-- feedback -->
      <div class="modal fade" id="feedback" tabindex="-1" aria-labelledby="feedbackLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0" style="background: linear-gradient(to right, #73c8a9, #373b44);">
                <div class="modal-header border-dark">
                    <h5 class="modal-title" id="feedbackLabel">ADD FEEDBACK</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="QS">quality of services :</label>
                        <select class="form-select" id="QS" name="QS">
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="PS">punctuality of services:</label>
                        <select class="form-select" id="PS" name="PS">
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer border-dark">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" id="SubmitF" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close" onclick="addFeedback()">submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete confirmation modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-white" id="confirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-white text-center">
                    <h5>Do you want to delete this request?</h5>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="deleteRequest()" data-bs-dismiss="modal" aria-label="Close">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script src="PatientAJAX.js"></script>
    <script src="https://kit.fontawesome.com/d01d9e83ae.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>